.container {
    display: flex;
    font-size: 16px;
    align-items: center;
    padding: 10px 0 10px 10px;
    border-radius: 10px;

    &:hover {
        background-color: #f0f0f0;
    }
}

.icon {
    font-size: 24px;
    margin-right: 20px;
}

.title {
    position: relative;
    top: 2px;
    font-size: 16px;
}

.title.current {
    font-weight: 800;
}