// .container {
//     // background-color: red;
//     // height: 100vh;
//     // height: 100%;
// }

.theme {
    height: 100%;

    img {
        height: 100%;
    }
}

.login-form {
    border: 1px solid #ccc;
    padding: 40px 26px 10px 26px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.logo {
    margin-bottom: 40px;

    img {
        width: 100%;
        height: 100%;
    }
}

.account-name,
.password {
    border: 1px solid #ccc;
    border-radius: 4px;
    overflow: hidden;

    input {
        padding: 10px;
        font-size: 14px;
    }
}

.login-btn {
    width: 100%;
    margin-top: 10px;
    margin-bottom: 20px;

    .btn {
        width: 100%;
        padding: 8px 10px;
        background-color: rgb(0, 149, 246);
        font-size: 14px;
        font-weight: 700;
        color: white;
        border-radius: 10px;
    }

    .disabled {
        opacity: 0.7;
        cursor: default;
    }

    .active {
        &:hover {
            background-color: #1877f2;
        }
    }
}

.separate {
    span {
        position: relative;
        /* Để làm cơ sở cho pseudo-element */
        display: inline-block;
        font-size: 14px;
        color: #777;
        font-weight: 600;

        &::before {
            content: "";
            position: absolute;
            top: 50%;
            /* Căn giữa theo chiều dọc */
            left: -124px;
            width: 100px;
            height: 0.5px;
            /* Độ dày của đường kẻ */
            background-color: #ccc;
            /* Màu của đường kẻ */
            transform: translateY(-50%);
            /* Để căn giữa chính xác */
        }

        &::after {
            content: "";
            position: absolute;
            top: 50%;
            /* Căn giữa theo chiều dọc */
            right: -124px;
            width: 100px;
            height: 0.5px;
            /* Độ dày của đường kẻ */
            background-color: #ccc;
            /* Màu của đường kẻ */
            transform: translateY(-50%);
            /* Để căn giữa chính xác */
        }
    }
}

.login-fb {
    color: #385185;
    font-size: 14px;
    font-weight: 800;
    cursor: pointer;
}

.forgot-psw {
    font-size: 12px;
    margin-top: 20px;
    cursor: pointer;
    margin-bottom: 10px;
}

.to-register {
    margin-top: 10px;
    border: 1px solid #ccc;
    padding: 20px 26px 20px 26px;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 14px;
}